<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Moja pierwsza strona internetowa</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1> Witaj na mojej stronie domowej</h1>

        <img src="https://media.fstatic.com/RdouwwM14WzQnLBzmg1r-ALvj_o=/full-fit-in/290x478/media/artists/avatar/2013/08/meg-ryan_a12028.jpg" alt="Zdjecie Mag Ryan" title="Zdjecie">

        <p class="test1"> <b> O mnie </b></p>
        <p class="test2"> <b>imię : </b> Meg </p> 
        <p class="test2"> <b>Nazwisko : </b> Ryan </p>


        <a href="./kontakt.html">Kontakt</a>


    </body>
</html>